@import url(variaveis_.css);
@import url(reset_.css);

.titulo-pagina{
    padding: 24px;
    width: 100%;
    height: 100vh;
    background-color:var(--dark-blue-3-hex);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button-titulo-pagina {
    font-size: 14px;
    font-weight: bold;
    width: 150px;
    height: 48px;
    border-radius: 24px;
}
.quem-sou {
    color: white;
    text-align: center; 
    font-size: 100px;
    padding: 16px 0;   
}
.quem-sou::after{
    content: "_";
}

.minha-descricao{
    color: white;
    opacity: 80%;
    text-align: center;
    font-size: 32px;
}
.about{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 60vh;
    background-color: var(--dark-blue-4-hex);
}
.title-about{
    font-size: 32px;
    color: var(--branco);
}
.skylls{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue-5-hex);
}
.my-skylls{
    font-size: 32px;
    color: var(--branco);
    
}
.text-about{
    margin-top: 16px;
    color: var(--branco);
    font-size: 24px;
    line-height: 32px;
    text-align: justify;
    padding: 0 20%;
}
.cards-linguagens{
    display: flex;
    flex-direction: row;
    margin-top: 64px;
}
.card-model{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--branco);
    padding: 8px 16px;
    border-radius: 10%;
    width: 150px;
    height: 200px;
    justify-content: center;
    margin-left: 24px;

}

.card-model:hover{
    transition-timing-function:cubic-bezier(1, 0, 0, 1);
    transition-duration: 0.5s;
    width:200px;  
}
.imagem-card{
   width: 50%;
   margin-bottom: 8px;
}
.texto-card{
    font-size: 24px;
    font-weight: bold;
    margin: 8px 0;
}
.projects-section{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-blue-4-hex);
    justify-content: center;
    align-items: center;
    padding: 32px;
}
.titulo-projects{
    color: var(--branco);
    font-size: 32px;
}
.projects{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue-1-hex);
}
.card-projects{
    border-radius: 15px;
    background: #e8e8f1;
    box-shadow:  7px 7px 14px #3e3e9e,
                 -7px -7px 14px #5454d6;
    padding: 16px 16px;
    width: 100px;
    height: 90%;
    align-items: center;
    margin-left: 16px;
    color: var(--dark-blue-4-hex);
    
}

.imagem-card-project{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}
.resume-card{
    font-size: 16px;
    margin: 8px 0;
}
.botao-card{
    background-color: var(--dark-blue-5-hex);
    width: 70%;
    height: 38px;
    border-radius: 30px;
    border: none;
    color: var(--branco); 
}
.botao-card:hover{
    background-color: var(--dark-blue-1-hex);
}


.my-rodape{
    background-color: var(--dark-blue-5-hex);
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-rodape{
    color: var(--branco);
}
.languages-domain{
    background-color: var(--dark-blue-4-hex);
    width: 100%;
    height: 60vh;
    color: var(--branco);
}